body {
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
}

header {
    text-align: center;
}

nav {
    text-align: center;
}

img {
    width: 500px;
    height: 500px;
}

table {
    border: 1px solid black;
}

p {
    text-align: justify;
}
